.display-none {
  display: none;
}

.Home {
  h2 {
    margin-top: 4vh;
    font-size: 3.5rem;
  }

  p {
    margin: 0;
  }

  .intro {
    position: absolute;
    font-size: 2rem;
    left: 2%;
    top: 210px;
  }

  .snickers-list {
    position: absolute;
    top: 350px;
    width: 480px;
    left: 4%;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(151, 36, 36, 0.8);
    p {
      padding: 10px;
      border: 1px solid white;
      color: white;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sneaker {
    position: absolute;
    z-index: -1;
    &__travis {
      right: -40px;
      top: 118px;
    }

    &__taylor {
      right: -140px;
      top: 150px;
    }

    &__yeezy {
      right: -240px;
      top: 182px;
    }

    &__dunk {
      right: -340px;
      top: 214px;
    }

    &__solar {
      right: -440px;
      top: 276px;
    }

    &__chuck {
      right: -540px;
      top: 306px;
    }
  }
}

.Navbar {
  font-size: 20px;

  p {
    margin: 0;
  }

  .navbar {
    height: 80px;
    width: 100%;
  }
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;

  .blue {
    background-color: rgb(29, 77, 173);
    color: white;
  }

  .red {
    background-color: rgb(240, 92, 97);
  }

  .alert {
    position: absolute;
    top: 29vh;
  }

  .form-signin {
    width: 100%;
    background-color: rgba(187, 187, 187, 0.7);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;

    .jordans-image {
      @media screen and (min-width: 1200px) {
        position: fixed;
        width: 110vw;
        top: -18%;
        z-index: -1;
        right: -50%;
      }
    }
  }

  &__mainText {
    margin-top: 30px;
  }

  &__buttonAndMsg {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.Sneakers {
  h2 {
    padding-top: 110px;
  }

  &__searcher {
    width: 100%;
    display: flex;
    justify-content: center;

    div {
      max-width: 700px;
      display: flex;
    }
  }

  &__loader {
    font-size: 3.5rem;
  }

  &__sneaker-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      cursor: pointer;
    }

    p {
      font-size: 2rem;
      margin-bottom: 100px;
    }
  }
}
